@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #bc6ff1;
    margin-left: 0;
    margin-top: 0;
}
.Sidebar {
    height: 100%;
    width: 3%;
    background-color: #892cdc;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}
a {
    text-decoration: none;
    
}
.link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    margin-top: 5px;
    background-color: #892cdc;
  }
.link:hover {
    background-color: #52057b;
    transition-duration: 0.2s;
}
.closeButton {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 2px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    color: black;
    float: right;
    margin-right: 5px;
    background-color: #892cdc;
    transition-duration: 0.2s;
    font-size: 20px;
}
.closeButton:hover {
    background-color: #52057b;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
  }
#content{
    visibility: hidden;
}
.title {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 36px;
    text-align: center;
}
.label {
    color: white;
    margin-bottom: 3px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}